*{
  margin: 0;
  padding: 0;
}

.app-container{
  width: 300px;
  height: 500px;
  background-color: antiquewhite;
  margin: auto;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.temperature-display{
  width: 250px;
  height: 200px;
  border-radius: 50%;
}

.cold{
  background-color: blue;
}

.hot{
  background-color: red;
}

.button-container{
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

button{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: xx-large;
  background-color: aqua;
}